<h1>UW Bridges Ad Creator</h1>

<%= link_to "Upload new QR Code", new_code_path, class: "btn btn-primary" %>

<h3>Current Ad Image</h3>

<div class="row qr-images">
    <%= image_tag @codeimage.image.composite.url, class: "col-sm-8" %>
    <p class="col-sm-8">
      <% timeago = (Time.now.to_date - @codeimage.created_at.to_date).to_i %>
      <strong>

      <% if timeago > 6 %>
        <span style="color: red;">
      <% end %>
        <%= timeago %> Days old.
      <% if timeago > 6 %>
        </span></br>
        <%= link_to "Upload new QR now!", new_code_path, class: "btn btn-primary" %>
      <% end %>
      </strong>
    </p>
</div>
